/* .App {
  text-align: center;
} */

.App-header {
  background-color: #33DBDB;
  height: 3.43px;
}

.App-link {
  color: #61dafb;
}

.wordmark{
  position: absolute;
  width: 60.39px;
  height: 24px;
  left: 5em;
  top: 1em;
}